@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

/* VARIABLES */
:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --main-font-family: "Poppins", arial, sans-serif;
}

/*   MOBILE FIRST STYLES   */
html {
  font-size: 62.5%;
}
body {
  font-family: var(--main-font-family)
}
header {
  text-align: center;
  max-width: 80%;
  margin: 8rem auto;
}
h1 {
  font-size: 2.25rem;
  font-weight: 200;
  color: var(--grayish-blue);
  line-height: 3.25rem;
}
p {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grayish-blue);
  line-height: 2.5rem;
}
.bold {
  font-weight: 600;
  color: var(--very-dark-blue);
}
main {
  display: flex;
  justify-content: center;
}
.cards-section {
  display: flex;
  flex-direction: column;
  max-width: 80%;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 10px 1px rgba(36, 36, 36, 0.2);
  border-radius: 5px;
  position: relative;
  max-width: 100%;
  width: 30rem;
  height: 25rem;
  padding: 1.6rem;
  margin-bottom: 3rem;
  box-sizing: border-box;
}
.cards-section h2 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
}
.cards-section p {
  margin: 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
}
.card img {
  width: 20%;
  position: absolute;
  bottom: 1.6rem;
  right: 1.6rem;  
}

.supervisor {
  border-top: 5px solid var(--color-cyan);
}
.teambuilder {
  border-top: 5px solid var(--color-red);
}
.karma {
  border-top: 5px solid var(--color-orange);
}
.calculator {
  border-top: 5px solid var(--color-blue);
}
footer {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.attribution, .attribution .bold {
  color: lightgray;
}

/* MEDIA QUERIES */
@media all and (min-width: 1024px) {
  .cards-section {
    flex-direction: row;
    align-items: center;
  }
  .cards-center {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}